#load {
    width:100%;
    height:100vh;
    position: relative;
    top:0;
    left:0;
    background-color: #fcfcfc;
    z-index:100;
    overflow: hidden;
}

/* 배포할 때는 #contBox { display: none;} 넣어주기 */

.stripe-wrap {
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    display: flex;
}
.stripe-wrap .stripe {
    width:25%;
    height:100%;
    background-color: #121212;
}
.stripe-wrap .stripe:nth-child(2){
    height:75%;
}
.stripe-wrap .stripe:nth-child(3){
    height:50%;
}
.stripe-wrap .stripe:nth-child(4){
    height:25%;
}
/* #contBox {
    display:none;
} */
#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: colorFill 1.5s ease forwards 3.5s;

}

#logo path:nth-child(1) {
    stroke-dasharray: 835px;
    stroke-dashoffset: 835px;
    animation: animateText 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 937px;
    stroke-dashoffset: 937px;
    animation: animateText 2s ease forwards 0.5s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 707px;
    stroke-dashoffset: 707px;
    animation: animateText 2s ease forwards 0.7s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 543px;
    stroke-dashoffset: 543px;
    animation: animateText 2s ease forwards 0.9s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 732px;
    stroke-dashoffset: 732px;
    animation: animateText1 2.3s ease forwards 1.5s;

}
/* .upDown path:nth-child(8) {

} */

#logo path:nth-child(9) {
    stroke-dasharray: 798px;
    stroke-dashoffset: 798px;
    animation: animateText 1.9s ease forwards 1.5s;
    
}

.circle, .circle1 {
    
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: #0039E6;
    position: absolute;
    top:42%;
    right:36.1%;
    opacity: 0;
    
    
}
.circle {
    animation: animateMove 1.2s 2 ease forwards 4s;
}

.circle1 {

    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) forwards 6.4s;
}
/* #logo path:nth-child(7) {
    stroke-dasharray: 798px;
    stroke-dashoffset: 798px;
    animation: animateText 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
    stroke-dasharray: 798px;
    stroke-dashoffset: 798px;
    animation: animateText 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
    stroke-dasharray: 109px;
    stroke-dashoffset: 109px;
    animation: animateText 2s ease forwards 1.8s;
} */


@keyframes animateText1 {
    0% {
        opacity:100;
    }
    99.999999% {
        opacity:100;
        stroke-dashoffset: 0;

    }
    100% {
        opacity:0;
    }
}
@keyframes animateText {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes colorFill {
    from {
        fill: transparent;
        text-decoration: none;
    }
    to {
        fill: #0039E6;
    }
}
@keyframes animateMove {
    0% { 
        opacity:100%;
        transform: translateY(0);
    }
    50% { 
        opacity: 100%;
        transform: translateY(-20px);
        
    }
    100% {
        opacity: 100%;
        transform: translateY(0), scale(100);
    }
}

@keyframes scale-up-center {
    0% {  
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(90);
    }
    100% {
        opacity: 1;
        transform: scale(90);
    }
  }