@charset "UTF-8";
#container .mainWrap {
  width: 80%;
  margin: 5rem auto;
}
#container .mainWrap.w-100 {
  width: 100%;
}
#container .mainWrap.mb-0 {
  margin-bottom: 0rem;
}
#container .mainWrap .main-section-title {
  font-family: "Pretendard-Bold";
  font-weight: 700;
  color: var(--smartee-black);
  font-size: 3rem;
  margin-top: 9rem;
}
#container .mainWrap .main-section-title.t-center {
  text-align: center;
}
#container .mainWrap .main-section-title .main-section-subTitle {
  font-family: "Pretendard-SemiBold";
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
#container .mainWrap .main-section-solution {
  margin: 3rem 0 0;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem {
  transition: all 0.3s ease-in-out;
  border-radius: 0rem 2rem 0rem 2rem;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem:hover {
  transform: translateY(-1rem);
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo {
  padding: 3rem 2rem;
  background-color: #f5f8fc;
  font-family: "Pretendard-Bold";
  font-weight: 700;
  font-size: 1.5rem;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo h4 span {
  display: block;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox .solution-arrowWrap .solution-arrow {
  margin-top: 4rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(60deg, rgb(0, 212, 255) 0%, rgb(15, 100, 206) 100%); /* 그라데이션 배경색 설정 */
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox .solution-arrowWrap .solution-arrow::after {
  content: "➝";
  color: #fff;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox .solution-imgWrap {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(1rem);
  transition: all 0.3s ease-in-out;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox .solution-imgWrap .sol-img {
  width: 6rem;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox:hover .solution-arrowWrap .solution-arrow {
  transform: translateX(2rem);
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solLogo .sol-hoverBox:hover .solution-imgWrap {
  opacity: 1;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solDetail {
  padding: 3rem 2rem;
  color: var(--smartee-black);
  font-family: "Pretendard-Medium";
  font-weight: 500;
  font-size: 1.3rem;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solDetail .solDetail-textWrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
#container .mainWrap .main-section-solution .solutionWrap .solutionBox .solutionItem .solDetail .solDetail-textWrap span {
  color: var(--smartee-point-blue);
  padding-right: 0.5rem;
}
#container .mainWrap .main-section-aim {
  background-color: #f5f8fc;
  padding: 6rem 11rem;
  margin: 3rem 0 0;
}
#container .mainWrap .main-section-aim .aimWrap {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  overflow: hidden;
  padding: 0.3rem;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-img.img-pd-1 {
  padding: 0.5rem;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-img img {
  width: 100%;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-item .aim-title {
  color: var(--smartee-black);
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-item .aim-count-box {
  display: flex;
  align-items: flex-end;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-item .aim-count-box .aim-count {
  font-size: 5rem;
  background: linear-gradient(60deg, rgb(0, 212, 255) 0%, rgb(15, 100, 206) 100%); /* 그라데이션 배경색 설정 */
  -webkit-background-clip: text; /* 텍스트로 배경 적용 (웹킷 브라우저용) */
  color: transparent; /* 텍스트 색상을 투명으로 설정 */
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-item .aim-count-box .aim-plus {
  color: rgb(15, 100, 206);
  font-size: 5rem;
}
#container .mainWrap .main-section-aim .aimWrap .aim-box .aim-item .aim-count-box .aim-unit {
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  color: var(--smartee-black);
}
#container .mainWrap .main-section-corp {
  background-color: #f5f8fc;
  border-radius: 3rem;
  margin: 5rem 0rem 0;
  padding: 5rem 6rem;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  align-items: center;
  justify-items: stretch;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-img img {
  background-color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
  height: 8.5rem;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.05);
}
#container .mainWrap .main-section-corp .main-corp .main-corp-text {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-text a {
  color: var(--smartee-black);
  position: relative;
  display: inline-flex;
  text-transform: uppercase;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-text a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 2.5rem;
  background: url(../img/main-img/main-arrow-right.svg) no-repeat -5rem 0/contain;
  transition: all 0.3s ease-in-out;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-text a .btn-text {
  font-family: "Pretendard-Medium";
  font-weight: 500;
  transform: translateX(0px);
  font-size: 1.3rem;
  color: var(--smartee-black);
  transition: all 0.7s;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-text a:hover::before {
  background-position: 0;
}
#container .mainWrap .main-section-corp .main-corp .main-corp-text a:hover .btn-text {
  transform: translateX(3rem);
}
#container .mainWrap .main-section-branch {
  padding: 5rem 0;
  background-color: var(--smartee-bg-blue);
}
#container .mainWrap .main-section-branch .branch-flexWrap {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: 3rem;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img {
  width: 100%;
  position: relative;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point {
  cursor: pointer;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq .kor-point {
  position: absolute;
  width: 2rem;
  top: 27.5%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  z-index: 11;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq .circle-ani .circle {
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 30.4%;
  left: 45.6%;
  transition: 5s ease;
  height: 0.7rem;
  width: 2rem;
  border-radius: 50%;
  background: rgba(236, 146, 130, 0.5);
  z-index: 10;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq.on .circle-ani .circle {
  display: block;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq.on .circle-ani .circle.delay1 {
  animation: waves 2.5s linear;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq.on .circle-ani .circle.delay2 {
  animation: waves 2.5s linear 0.7s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq.on .circle-ani .circle.delay3 {
  animation: waves 2.5s linear 1.3s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .kor-hq.on .circle-ani .circle.delay4 {
  animation: waves 2.5s linear 1.9s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch .jp-point {
  position: absolute;
  width: 1.5rem;
  top: 28.5%;
  left: 57%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  z-index: 11;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch .circle-ani .circle {
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 30%;
  left: 54.7%;
  transition: 5s ease;
  height: 0.7rem;
  width: 2rem;
  border-radius: 50%;
  background: rgba(236, 146, 130, 0.5);
  z-index: 10;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch.on .circle-ani .circle {
  display: block;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch.on .circle-ani .circle.delay1 {
  animation: waves 2.5s linear;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch.on .circle-ani .circle.delay2 {
  animation: waves 2.5s linear 0.7s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch.on .circle-ani .circle.delay3 {
  animation: waves 2.5s linear 1.3s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .jp-branch.on .circle-ani .circle.delay4 {
  animation: waves 2.5s linear 1.9s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch .vn-point {
  position: absolute;
  width: 1.5rem;
  top: 51.6%;
  left: 28.6%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
  z-index: 11;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch .circle-ani .circle {
  display: block;
  opacity: 0.4;
  position: absolute;
  top: 53.5%;
  left: 26.5%;
  transition: 5s ease;
  height: 0.7rem;
  width: 2rem;
  border-radius: 50%;
  background: rgba(236, 146, 130, 0.5);
  z-index: 10;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch.on .circle-ani .circle {
  display: block;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch.on .circle-ani .circle.delay1 {
  animation: waves 2.5s linear;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch.on .circle-ani .circle.delay2 {
  animation: waves 2.5s linear 0.7s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch.on .circle-ani .circle.delay3 {
  animation: waves 2.5s linear 1.3s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-img .corp-point .vn-branch.on .circle-ani .circle.delay4 {
  animation: waves 2.5s linear 1.9s forwards;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(1, 3fr);
  padding-bottom: 3rem;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  cursor: pointer;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-logo {
  flex: 4;
  border: 1px solid var(--smartee-blue);
  border-radius: 3rem;
  padding: 1rem 0rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-logo .w-logo {
  width: 11rem;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-logo .w-logo.w-10 {
  width: 8rem;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-addr {
  border-radius: 2rem;
  flex: 5;
  padding: 1rem;
  font-family: "Pretendard-Medium";
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  transition: all 0.4s ease-in-out;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-addr h5 {
  font-size: 1.2rem;
  color: var(--smartee-point-blue);
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-addr h5::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--smartee-blue);
  margin: 1rem 0;
}
#container .mainWrap .main-section-branch .branch-flexWrap .branch-text .branch-text-box .text-item .text-addr.on {
  border-radius: 2rem;
  color: var(--smartee-point-blue);
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
}

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}/*# sourceMappingURL=new-main.css.map */