#container .wrap {
  width: 80%;
  margin: 5rem auto 0;
}

#container .wrap .secTitle-wrap .secTitle {
  font-family: 'Pretendard-ExtraBold';
  font-weight: 800;
  color: #2C64E5;
  font-size: 20px;
  margin-bottom: 2rem;
}

#container .wrap .secTitle-wrap .secInform {
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
}

#container .wrap .solutionWrap .secSolution {
  margin-top: 7rem;
}

#container .wrap .solutionWrap .secSolution .solTitle {
  font-size: 3rem;
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  color: #2C64E5;
  margin: 2rem 0;
}

#container .wrap .solutionWrap .secSolution .solTitle::before {
  content: "";
  display: block;
  background-color: #2C64E5;
  width: 20px;
  height: 5px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#container .wrap .solutionWrap .secSolution .solText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .wrap .solutionWrap .secSolution img {
  display: block;
  width: 60%;
  margin: 6rem auto;
}

#container .wrap .solutionWrap .secSolution .img2-size {
  width: 50%;
}

#container .wrap .solutionWrap .secSolution .solTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0 2rem;
}

#container .wrap .solutionWrap .secSolution .solTab li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .wrap .solutionWrap .secSolution .solTab li a {
  display: block;
  color: #121212;
  font-size: 1.2rem;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  padding: 2rem 3rem;
  background-color: #fcfcfc;
  border: 2px solid #ddd;
  border-radius: 2rem;
  margin: 0 3rem;
}

#container .wrap .solutionWrap .secSolution .solTab li a.on {
  border: 2px solid #2C64E5;
  background-color: #a8c0f7;
  color: #fcfcfc;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-left {
  width: 50%;
  margin-top: 4rem;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-left .content-title {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 2rem;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-left ul li {
  line-height: 2rem;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-left ul li img {
  width: 80%;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-right {
  margin-top: 4rem;
  margin-left: 5%;
  width: 45%;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-right .info_01 img {
  width: 100%;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-right .info_02 .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile1 .solTab-content-right .info_02 .img-wrap p {
  width: 25%;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 {
  display: none;
  margin-top: 7rem;
  position: relative;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 .mobile2-cont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 .mobile2-cont2 .cont2-img {
  width: 20%;
  margin-right: 10%;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 .mobile2-cont2 .cont2-img img {
  width: 100%;
  display: inline-block;
  text-align: left;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 .mobile2-cont2 .cont2-text {
  width: 70%;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 .img-ab {
  position: absolute;
  top: 2rem;
  right: 0;
}

#container .wrap .solutionWrap .secSolution .solTab-content-wrap .solTab-content.mobile2 .img-ab img {
  width: 100%;
}

/* ====== spider-live ===== */
#container .contWrap .wrap #sec3 {
  margin-top: 7rem;
}

#container .contWrap .wrap #sec3 .solTitle {
  font-size: 3rem;
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  color: #2C64E5;
  margin: 2rem 0;
}

#container .contWrap .wrap #sec3 .liveTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0 2rem;
}

#container .contWrap .wrap #sec3 .liveTab li {
  width: 33.333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .contWrap .wrap #sec3 .liveTab li a {
  display: block;
  color: #121212;
  font-size: 1.2rem;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  padding: 2rem 3rem;
  width: 100%;
  text-align: center;
  background-color: #fcfcfc;
  border: 2px solid #ddd;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

#container .contWrap .wrap #sec3 .liveTab li a.on {
  border: 2px solid #2C64E5;
  background-color: #2C64E5;
  color: #fcfcfc;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab1 {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  margin-bottom: 7rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab1 .sLiveText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 {
  display: none;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  margin-bottom: 7rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .sLiveText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li {
  width: 31.333333%;
  margin: 0 1%;
  padding: 2rem 1rem 2rem 3rem;
  border: 1px solid #ddd;
  background-color: #f7f9ff;
  border-radius: 5rem;
  border-bottom-right-radius: 0;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li h5 {
  color: #2C64E5;
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  font-size: 1.5rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li h5 span {
  font-size: 1rem;
  color: #a8c0f7;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li p {
  font-size: 1.2rem;
  color: #121212;
  margin-bottom: 1.5rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li .mb-1 {
  margin: 1rem 0;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li dl dt {
  color: #2C64E5;
  font-size: 1.4rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li dl dd {
  font-size: 1.2rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content1 li dl dd .mr-1 {
  display: inline-block;
  margin-right: .7rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .cont2-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin: 7rem 0 3rem;
  text-align: center;
  color: #2C64E5;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 li {
  padding: 2rem;
  border: 1px solid #ddd;
  background-color: #f7f9ff;
  border-radius: 5rem;
  border-bottom-right-radius: 0;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-25 {
  width: 24%;
  margin: 0 .5%;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-25 dl dt {
  text-align: center;
  font-size: 1.5rem;
  color: #2C64E5;
  margin: 1rem 0 1.2rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-25 dl dd {
  font-size: 1.3rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-50 {
  width: 48%;
  margin: 0 1%;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-50 table {
  text-align: center;
  padding: .5rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-50 table th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  padding: .2rem .5rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-50 table .color {
  color: #2C64E5;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-50 table td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  padding: .2rem .5rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab2 .spiderLTab2-content2 .wd-50 table .n-br {
  border-right: none;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 {
  display: none;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  margin-bottom: 7rem;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 .sLiveText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 #accordion_wrapper {
  width: 80%;
  margin: 0 auto;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 #accordion_wrapper .accordionButton {
  display: block;
  padding: 2rem 1rem 2rem 3rem;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #121212;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 #accordion_wrapper .accordionButton:hover {
  background-color: #bbb;
  color: #fcfcfc;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 #accordion_wrapper .accordionButton.on {
  background-color: #bbb;
  color: #fcfcfc;
}

#container .contWrap .wrap #sec3 .solTab-content-wrap .spiderLive-content.spiderLTab3 #accordion_wrapper .accordionContent {
  width: 95%;
  display: none;
  padding: 1rem 5rem 1rem 5rem;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 2rem;
  border-top-left-radius: 0;
  margin-bottom: 1rem;
  margin-left: 3.5rem;
}

#container .contWrap .wrap #sec4 {
  margin-top: 7rem;
}

#container .contWrap .wrap #sec4 .solTitle {
  font-size: 3rem;
  font-family: 'Pretendard-Bold';
  font-weight: 700;
  color: #2C64E5;
  margin: 2rem 0;
}

#container .contWrap .wrap #sec4 .viewTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0 2rem;
}

#container .contWrap .wrap #sec4 .viewTab li {
  width: 33.333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .contWrap .wrap #sec4 .viewTab li a {
  display: block;
  color: #121212;
  font-size: 1.2rem;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  padding: 2rem 3rem;
  width: 100%;
  text-align: center;
  background-color: #fcfcfc;
  border: 2px solid #ddd;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

#container .contWrap .wrap #sec4 .viewTab li a.on {
  border: 2px solid #2C64E5;
  background-color: #2C64E5;
  color: #fcfcfc;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab1 {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  margin-bottom: 7rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab1 .sViewText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 {
  display: none;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  margin-bottom: 7rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .sViewText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content1 {
  width: 55vw;
  height: 38vh;
  margin: 5rem auto 0;
  background-image: url(../img/solution/img_09.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: relative;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content1 dl {
  position: absolute;
  top: 20%;
  right: 3%;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content1 dl dt {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content1 dl .mt-1 {
  margin-top: 7rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .cont2-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin: 7rem 0 3rem;
  text-align: center;
  color: #2C64E5;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li {
  width: 24%;
  margin: 1rem .5%;
  height: auto;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li .img-bg {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  position: relative;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li .img-bg p {
  position: absolute;
  bottom: 1.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li .img-bg p span {
  display: block;
  font-size: 1rem;
  margin-top: -.5rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(1) .img-bg {
  background-image: url(../img/solution/spider-view-01.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(2) .img-bg {
  background-image: url(../img/solution/spider-view-02.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(3) .img-bg {
  background-image: url(../img/solution/spider-view-03.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(4) .img-bg {
  background-image: url(../img/solution/spider-view-04.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(5) .img-bg {
  background-image: url(../img/solution/spider-view-05.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(6) .img-bg {
  background-image: url(../img/solution/spider-view-06.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(7) .img-bg {
  background-image: url(../img/solution/spider-view-07.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(8) .img-bg {
  background-image: url(../img/solution/spider-view-08.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(9) .img-bg {
  background-image: url(../img/solution/spider-view-09.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(10) .img-bg {
  background-image: url(../img/solution/spider-view-10.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(11) .img-bg {
  background-image: url(../img/solution/spider-view-11.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab2 .spiderVTab2-content2 li:nth-child(12) .img-bg {
  background-image: url(../img/solution/spider-view-12.png);
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 {
  display: none;
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  margin-bottom: 7rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 .sViewText {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 3rem 0;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper {
  width: 80%;
  margin: 0 auto;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionButton {
  display: block;
  padding: 2rem 1rem 2rem 3rem;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 2rem;
  border-bottom-right-radius: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #121212;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionButton:hover {
  background-color: #bbb;
  color: #fcfcfc;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionButton.on {
  background-color: #bbb;
  color: #fcfcfc;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionContent {
  width: 95%;
  display: none;
  padding: 1rem 5rem 1rem 5rem;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 2rem;
  border-top-left-radius: 0;
  margin-bottom: 1rem;
  margin-left: 3.5rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionContent p {
  margin-bottom: 0rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionContent ul li {
  margin-bottom: 2rem;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionContent ul li ul {
  margin: .5rem 0;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionContent ul li ul li {
  margin-bottom: 0;
}

#container .contWrap .wrap #sec4 .solTab-content-wrap .spiderView-content.spiderVTab3 #accordion_wrapper .accordionContent .mb-1 {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=solution.css.map */