/* ============ sub header start ============ */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--smartee-blue);
}
#header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#header .header-wrap .logo {
  width: 200px;
  margin-left: 5%;
}
#header .header-wrap .logo .logo-img {
  display: inline-block;
  color: transparent;
}
#header .header-wrap .logo .logo-img img {
  width: 100%;
}
#header .header-wrap .gnb {
  margin-right: 3%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .header-wrap .gnb .main1depth {
  padding: 0 2.1rem;
  position: relative;
}
#header .header-wrap .gnb .main1depth a {
  color: var(--smartee-black);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0px;
  transition: all 0.5s;
}
#header .header-wrap .gnb .main1depth .sub2depth {
  display: none;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2f2f2f;
  width: 160px;
  /*   height: auto; */
  padding: 1rem 1rem;
  border-radius: 20px;
}
#header .header-wrap .gnb .main1depth .sub2depth .subMenu {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .header-wrap .gnb .main1depth .sub2depth .subMenu a {
  font-family: "LeferiBaseType-RegularA";
  transform: skew(0.001rem);
  position: relative;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 400;
  transition: all 0.5s;
}
#header .header-wrap .gnb .solution .subSolution {
  width: 180px;
}
#header .header-wrap .gnb .solution:hover::after {
  transform: rotate(135deg);
}
#header .header-wrap .gnb .solution::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 2px solid var(--smartee-black);
  border-right: 2px solid var(--smartee-black);
  transform: rotate(45deg);
  margin: 0 0.5rem;
  transition: all 0.3s;
}
#header .header-wrap .gnb .company .subCompany {
  width: 180px;
}
#header .header-wrap .gnb .company:hover::after {
  transform: rotate(135deg);
}
#header .header-wrap .gnb .company::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 2px solid var(--smratee-black);
  border-right: 2px solid var(--smratee-black);
  transform: rotate(45deg);
  margin: 0 0.5rem;
  transition: all 0.3s;
}
#header .header-wrap .ham-menu {
  display: none;
  position: absolute;
  top: 32%;
  right: -5%;
  width: 5%;
  margin-right: 5%;
}
#header .header-wrap .ham-menu .menu-trigger {
  display: inline-block;
  transition: all 0.8s;
  position: relative;
  width: 1.8rem;
  height: 1.7rem;
}
#header .header-wrap .ham-menu .menu-trigger span {
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: #fcfcfc;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  transition: all 0.8s;
}
#header .header-wrap .ham-menu .menu-trigger span:nth-child(1) {
  top: 0;
}
#header .header-wrap .ham-menu .menu-trigger span:nth-child(2) {
  top: 0.7rem;
}
#header .header-wrap .ham-menu .menu-trigger span:nth-child(3) {
  bottom: 0;
}
#header .header-wrap .ham-menu:hover .menu-trigger span:nth-child(1) {
  transform: translateY(15px) rotate(-45deg);
}
#header .header-wrap .ham-menu:hover .menu-trigger span:nth-child(2) {
  top: 20px;
  opacity: 0;
}
#header .header-wrap .ham-menu:hover .menu-trigger span:nth-child(3) {
  transform: translateY(-15px) rotate(45deg);
}
#header .header-wrap.active .gnb .main1depth a {
  color: #121212;
}
#header .header-wrap.active .gnb .main1depth .sub2depth {
  background-color: rgba(242, 242, 242, 0.9);
}
#header .header-wrap.active .gnb .main1depth .sub2depth .subMenu a {
  color: #121212;
}

/*============ sub header end ============*/
/*============ sub container start ============*/
#container {
  margin-top: 100px;
  /*============ request-btn start ============*/
  /*============ request-btn end ============*/
}
#container .visual-head {
  background-color: var(--smartee-blue);
  color: var(--bg-white);
  padding: 2rem 3% 3rem;
  font-family: "LeferiBaseType-RegularA";
}
#container .visual-head .location {
  position: fixed;
  z-index: 1;
  top: 130px;
  right: 2%;
  color: var(--bg-white);
  font-family: "LeferiBaseType-RegularA";
  font-size: 15px;
}
#container .visual-head .location .location-text {
  display: inline-block;
  color: var(--bg-white);
}
#container .visual-head .location .location-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid var(--bg-white);
  border-right: 1px solid var(--bg-white);
  transform: rotate(45deg);
  margin: 0 0.5rem;
}
#container .visual-head .visual-title-wrap {
  text-align: center;
}
#container .visual-head .visual-title-wrap .title-main {
  font-size: 45px;
  letter-spacing: 0.2rem;
  margin: 1.5rem 0 1rem;
}
#container .visual-head .visual-title-wrap .title-sub {
  font-size: 20px;
  letter-spacing: 0.1rem;
}
#container .subMenuNav .sub-index-wrap {
  width: 100%;
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--smartee-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 2;
}
#container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu {
  display: inline-block;
  width: 100%;
  padding: 1.8rem 2rem;
  color: var(--smartee-black);
  opacity: 0.6;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transition: all 0.7s;
  text-align: center;
}
#container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu::after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 5px;
  border-radius: 0.1rem;
  background-color: var(--smartee-blue);
  position: absolute;
  bottom: -7%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}
#container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu:hover {
  opacity: 1;
}
#container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu:hover::after {
  width: 100%;
}
#container .subMenuNav .sub-index-wrap .sub-index .on {
  opacity: 1;
  position: relative;
  transition: all 0.7s;
}
#container .subMenuNav .sub-index-wrap .sub-index .on::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: 0.1rem;
  background-color: var(--smartee-blue);
  position: absolute;
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}
#container .topBtn #scroll {
  display: none;
  bottom: 14%;
  right: 2%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: var(--smartee-blue);
  position: fixed;
  transition: all 0.7s;
  opacity: 1;
}
#container .topBtn #scroll .top-arrow {
  position: absolute;
  top: 52%;
  left: 50%;
  height: 1rem;
  width: 1rem;
  border-top: 0.3rem solid #fff;
  border-right: 0.3rem solid #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}
#container .topBtn #scroll:hover {
  transform: translateY(-10px);
  opacity: 1;
  filter: "alpha(opacity=100)";
}
#container .topBtn #scroll:hover svg path {
  fill: var(--smartee-blue);
  position: absolute;
}
#container .request-btn {
  z-index: 100;
  display: block;
  position: fixed;
  z-index: 5;
  bottom: 6%;
  right: 2%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--smartee-blue);
  position: absolute;
  transition: all 0.7s;
}
#container .request-btn .icon_rq {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container .request-btn span {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
  font-family: "LeferiBaseType-RegularA";
}
#container .request-btn:hover {
  width: 120px;
  border-radius: 5rem;
  justify-content: space-around;
}
#container .request-btn:hover .icon_rq {
  left: 12%;
  transform: translate(0, -50%);
}
#container .request-btn:hover span {
  opacity: 1;
  color: #fcfcfc;
  right: 12%;
  transform: translate(0, -50%);
  text-indent: 0px;
}
#container.active .visual-head .location {
  color: #121212;
}
#container.active .visual-head .location .location-text {
  color: #121212;
}
#container.active .visual-head .location .location-arrow {
  border-top: 1px solid #121212;
  border-right: 1px solid #121212;
}
#container.active .visual-head .visual-title-wrap {
  text-align: center;
}
#container.active .visual-head .visual-title-wrap .title-main {
  font-size: 45px;
  letter-spacing: 0.2rem;
  margin: 1.5rem 0 1rem;
}
#container.active .visual-head .visual-title-wrap .title-sub {
  font-size: 20px;
  letter-spacing: 0.1rem;
}
#container.active .sub-index-wrap {
  width: 100%;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--smartee-blue);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#container.active .sub-index-wrap .sub-index .sub-index-menu {
  display: inline-block;
  width: 100%;
  padding: 1.8rem 2rem;
  color: #121212;
  opacity: 0.6;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  transition: all 0.7s;
  text-align: center;
}
#container.active .sub-index-wrap .sub-index .sub-index-menu::after {
  content: "";
  display: inline-block;
  width: 0%;
  height: 5px;
  border-radius: 0.1rem;
  background-color: var(--smartee-blue);
  position: absolute;
  position: absolute;
  bottom: -7%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}
#container.active .sub-index-wrap .sub-index .sub-index-menu:hover {
  opacity: 1;
}
#container.active .sub-index-wrap .sub-index .sub-index-menu:hover::after {
  width: 100%;
}
#container.active .sub-index-wrap .sub-index .on {
  opacity: 1;
  position: relative;
  transition: all 0.7s;
}
#container.active .sub-index-wrap .sub-index .on::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: 0.1rem;
  background-color: var(--smartee-blue);
  position: absolute;
  position: absolute;
  bottom: -7%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}
#container.active .topBtn #scroll {
  display: block;
}

/* #container .topBtn #scroll svg { */
/*   margin: 15px auto 0; */
/*   display: block; */
/*   width: 21px; */
/*   height: 38px; */
/* } */
/*============ sub container end ============*/
/*============ sub footer start ============*/
#footer {
  font-family: "LeferiPoint-WhiteA";
  font-weight: bold;
  letter-spacing: 0.02em;
  height: auto;
  background-color: var(--smartee-bg-blue);
  color: var(--smartee-black);
  border-top: 1px solid #666;
  padding: 3rem 0;
}
#footer .footer-center {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#footer .footer-center .footer-left {
  width: 65%;
  color: var(--smartee-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.8rem;
}
#footer .footer-center .footer-left h2 {
  width: 140px;
  margin: 0px 0 20px;
}
#footer .footer-center .footer-left h2 img {
  width: 100%;
}
#footer .footer-center .footer-left .smartee-info, #footer .footer-center .footer-left .smartee-contract {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}
#footer .footer-center .footer-left .smartee-info li:nth-child(3), #footer .footer-center .footer-left .smartee-contract li:nth-child(3) {
  transform: translateY(4px);
}
#footer .footer-center .footer-left .smartee-info li:nth-child(3)::after, #footer .footer-center .footer-left .smartee-contract li:nth-child(3)::after {
  content: "";
  display: none;
}
#footer .footer-center .footer-left .smartee-info li::after, #footer .footer-center .footer-left .smartee-contract li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  margin: 0 10px;
  background-color: #666;
  transform: translateY(2px);
}
#footer .footer-center .footer-right {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: var(--smartee-black);
  font-size: 0.9rem;
}
#footer .footer-center .footer-right .footer-nav {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 50px;
}
#footer .footer-center .footer-right .footer-nav li {
  margin: 0 20px;
}
#footer .footer-center .footer-right .footer-nav li img {
  height: 35px;
}
#footer .footer-center .footer-right .footer-nav li:nth-child(2) img {
  height: 45px;
}
#footer .footer-center .footer-right .footer-nav li:nth-child(3) {
  transform: translateY(4px);
}
#footer .footer-center .footer-right .footer-copy {
  text-align: right;
}

/*============ sub footer end ============*/
/*============ ham-gnb start ============*/
#ham-area {
  width: 80%;
  height: 100vh;
  position: fixed;
  z-index: 13;
  top: 0;
  right: -100%;
  background-color: #fcfcfc;
}
#ham-area .close-btn {
  position: absolute;
  z-index: 13;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  transition: all 0.5s;
}
#ham-area .close-btn:hover::before, #ham-area .close-btn:hover::after {
  background-color: var(--smartee-blue);
}
#ham-area .close-btn::before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--smartee-blue);
  transform: rotate(45deg);
}
#ham-area .close-btn::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: var(--smartee-blue);
  transform: rotate(-45deg);
}
#ham-area .hamTop a {
  display: block;
}
#ham-area .hamTop a h1 {
  width: 60%;
  margin: 5rem auto 4rem;
}
#ham-area .hamTop a h1 img {
  width: 100%;
}
#ham-area .hamDepth1 {
  font-family: "Pretendard-Bold";
  font-weight: 700;
}
#ham-area .hamDepth1 li {
  position: relative;
  line-height: 4.5rem;
  border-bottom: 1px solid #eaeaea;
}
#ham-area .hamDepth1 li .fas {
  font-size: 25px;
  color: var(--smartee-blue);
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.5s;
}
#ham-area .hamDepth1 li a {
  padding-left: 5%;
  font-size: 25px;
  color: #121212;
}
#ham-area .hamDepth1 li .hamDepth2 {
  display: none;
}
#ham-area .hamDepth1 li .hamDepth2 li {
  padding-left: 5%;
  line-height: 40px;
  background-color: #eaeaea;
}
#ham-area .hamDepth1 li .hamDepth2 li a {
  font-size: 1.5rem;
  color: #121212;
}
#ham-area .hamDepth1 li.on .fas {
  transform: rotate(-180deg);
}

/*======== 1024px ========*/
@media screen and (max-width: 1024px) {
  /*============ header main start ============*/
  #header .header-wrap .logo {
    width: 18%;
    margin-left: 3%;
  }
  #header .header-wrap .logo .logo-img {
    display: inline-block;
    color: transparent;
  }
  #header .header-wrap .logo .logo-img img {
    width: 100%;
  }
  #header .header-wrap .gnb {
    margin-right: 0%;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #header .header-wrap .gnb .main1depth {
    padding: 0 2rem;
    position: relative;
  }
  #header .header-wrap .gnb .main1depth a {
    color: #fcfcfc;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0px;
    transition: all 0.5s;
  }
  #header .header-wrap .gnb .main1depth .sub2depth {
    display: none;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2f2f2f;
    width: 160px;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 20px;
  }
  #header .header-wrap .gnb .main1depth .sub2depth .subMenu {
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header .header-wrap .gnb .main1depth .sub2depth .subMenu a {
    font-family: "LeferiBaseType-RegularA";
    transform: skew(0.001rem);
    position: relative;
    color: #fcfcfc;
    font-size: 0.85rem;
    font-weight: 400;
    transition: all 0.5s;
  }
  #header .header-wrap .gnb .main1depth .sub2depth .subMenu a::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fcfcfc;
    position: absolute;
    top: 0px;
    left: -10px;
    opacity: 0;
    transition: all 0.5s;
  }
  #header .header-wrap .gnb .main1depth .sub2depth .subMenu a:hover::before {
    opacity: 1;
  }
  #header .header-wrap .gnb .main1depth::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fcfcfc;
    position: absolute;
    top: -15px;
    left: 25px;
    opacity: 0;
    transition: all 0.5s;
  }
  #header .header-wrap .gnb .main1depth:hover::before {
    opacity: 1;
  }
  #header .header-wrap .gnb .solution .subSolution {
    width: 180px;
  }
  #header .header-wrap .gnb .solution:hover::after {
    transform: rotate(135deg);
  }
  #header .header-wrap .gnb .solution::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fcfcfc;
    border-right: 2px solid #fcfcfc;
    transform: rotate(45deg);
    margin: 0 0.5rem;
    transition: all 0.3s;
  }
  #header .header-wrap .gnb .company .subCompany {
    width: 180px;
  }
  #header .header-wrap .gnb .company:hover::after {
    transform: rotate(135deg);
  }
  #header .header-wrap .gnb .company::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #fcfcfc;
    border-right: 2px solid #fcfcfc;
    transform: rotate(45deg);
    margin: 0 0.5rem;
    transition: all 0.3s;
  }
  #header .header-wrap .ham-menu {
    display: block;
    top: 32%;
    right: -3%;
  }
  /*============ header main end ============*/
  /*============ sub container start ============*/
  #container {
    margin-top: 100px;
  }
  #container .visual-head .visual-title-wrap .title-sub {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
  #container .subMenuNav .sub-index-wrap {
    width: 100%;
    background-color: #fcfcfc;
    border-bottom: 1px solid var(--smartee-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 2;
  }
  /*============ sub footer start ============*/
  #footer {
    font-size: 12px;
    padding: 30px 0;
  }
  #footer .footer-center {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .footer-center .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  #footer .footer-center .footer-left h2 {
    width: 140px;
    margin: 0px auto 20px;
  }
  #footer .footer-center .footer-left h2 img {
    width: 100%;
  }
  #footer .footer-center .footer-left .smartee-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  #footer .footer-center .footer-left .smartee-contract {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  #footer .footer-center .footer-left .smartee-contract li {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  #footer .footer-center .footer-left .smartee-contract li:nth-child(3) {
    transform: translateY(0px);
  }
  #footer .footer-center .footer-left .smartee-contract li::after {
    content: "";
    display: none;
  }
  #footer .footer-center .footer-right {
    width: 100%;
    display: flex;
  }
  #footer .footer-center .footer-right .footer-nav {
    width: 100%;
    display: none;
  }
  #footer .footer-center .footer-right .footer-copy {
    width: 100%;
    text-align: center;
  }
  /*============ sub footer end ============*/
  /*============ ham-gnb start ============*/
  #ham-area {
    width: 80%;
    height: 100vh;
    position: fixed;
    z-index: 13;
    top: 0;
    right: -100%;
    background-color: #fcfcfc;
  }
  #ham-area .close-btn {
    position: absolute;
    z-index: 13;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    transition: all 0.5s;
  }
  .close-btn::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: var(--smartee-blue);
    transform: rotate(-45deg);
  }
  #ham-area .hamTop a {
    display: block;
  }
  #ham-area .hamTop a h1 {
    width: 50%;
    margin: 4rem auto 3rem;
  }
  #ham-area .hamTop a h1 img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-left: 0%;
  }
  #ham-area .hamDepth1 li .hamDepth2 li a {
    font-size: 1.5rem;
    color: #121212;
  }
}
/*============ tablet 820px ============*/
@media screen and (max-width: 820px) {
  /*============ header main start ============*/
  #header .header-wrap .logo {
    width: 30%;
  }
  #header .header-wrap .gnb {
    display: none;
  }
  #header .header-wrap .ham-menu {
    display: block;
    top: 32%;
    right: 3%;
    margin-right: 0;
  }
  /*============ header main end ============*/
  /*============ sub container start ============*/
  #container {
    margin-top: 100px;
  }
  #container .visual-head .visual-title-wrap .title-sub {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 20px;
    letter-spacing: 0.1rem;
  }
  #container .subMenuNav .sub-index-wrap {
    width: 100%;
    background-color: #fcfcfc;
    border-bottom: 1px solid var(--smartee-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 2;
  }
  /*============ sub footer start ============*/
  #footer {
    font-size: 12px;
    padding: 30px 0;
  }
  #footer .footer-center {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .footer-center .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  #footer .footer-center .footer-left h2 {
    width: 140px;
    margin: 0px auto 20px;
  }
  #footer .footer-center .footer-left h2 img {
    width: 100%;
  }
  #footer .footer-center .footer-left .smartee-info {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  #footer .footer-center .footer-left .smartee-contract {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  #footer .footer-center .footer-left .smartee-contract li {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  #footer .footer-center .footer-left .smartee-contract li:nth-child(3) {
    transform: translateY(0px);
  }
  #footer .footer-center .footer-left .smartee-contract li::after {
    content: "";
    display: none;
  }
  #footer .footer-center .footer-right {
    width: 100%;
    display: flex;
  }
  #footer .footer-center .footer-right .footer-nav {
    width: 100%;
    display: none;
  }
  #footer .footer-center .footer-right .footer-copy {
    width: 100%;
    text-align: center;
  }
  /*============ sub footer end ============*/
  /*============ ham-gnb start ============*/
  #ham-area {
    width: 80%;
    height: 100vh;
    position: fixed;
    z-index: 13;
    top: 0;
    right: -100%;
    background-color: #fcfcfc;
  }
  #ham-area .close-btn {
    position: absolute;
    z-index: 13;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    transition: all 0.5s;
  }
  .close-btn::after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: var(--smartee-blue);
    transform: rotate(-45deg);
  }
  #ham-area .hamTop a {
    display: block;
  }
  #ham-area .hamTop a h1 {
    width: 50%;
    margin: 4rem auto 3rem;
  }
  #ham-area .hamTop a h1 img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-left: 0;
  }
}
/*============ mpobile 480px ============*/
@media screen and (max-width: 480px) {
  /*============ sub header start ============*/
  #header .header-wrap {
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
  }
  #header .header-wrap .logo {
    width: 45%;
    margin-left: 5%;
  }
  #header .header-wrap .logo .logo-img {
    display: inline-block;
    color: transparent;
  }
  #header .header-wrap .ham-menu {
    display: block;
    position: absolute;
    top: 32%;
    right: 3%;
    width: 5%;
    margin-right: 3%;
  }
  /*============ sub header end ============*/
  /*============ sub container start ============*/
  #container {
    margin-top: 100px;
  }
  #container .visual-head {
    background-color: var(--smartee-blue);
    color: #fcfcfc;
    padding: 2rem 2% 3rem;
    font-family: "LeferiBaseType-RegularA";
  }
  #container .visual-head .visual-title-wrap .title-main {
    font-size: 2.5rem;
  }
  #container .visual-head .visual-title-wrap .title-sub {
    font-size: 1.2rem;
  }
  #container .visual-head .location {
    position: fixed;
    z-index: 1;
    top: 120px;
    right: 5%;
    color: #fcfcfc;
    font-family: "LeferiBaseType-RegularA";
    font-size: 0.7rem;
  }
  #container .subMenuNav .sub-index-wrap {
    width: 100%;
    background-color: #fcfcfc;
    border-bottom: 1px solid var(--smartee-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    z-index: 2;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu {
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0.5rem;
    color: #121212;
    opacity: 0.6;
    font-size: 0.85rem;
    line-height: 1.2rem;
    font-weight: bold;
    position: relative;
    transition: all 0.7s;
    text-align: center;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu span {
    display: block;
    margin-bottom: -0.2rem;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 5px;
    border-radius: 0.1rem;
    background-color: var(--smartee-blue);
    position: absolute;
    bottom: -5%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.7s;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu:hover {
    opacity: 1;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu:hover::after {
    width: 100%;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .on {
    opacity: 1;
    position: relative;
    transition: all 0.7s;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .on::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 0.1rem;
    background-color: var(--smartee-blue);
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.7s;
  }
  /*============ sub container end ============*/
  /*============ sub footer start ============*/
  #footer {
    font-size: 12px;
    padding: 30px 0;
  }
  #footer .footer-center {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .footer-center .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  #footer .footer-center .footer-left h2 {
    width: 130px;
    margin: 0px auto 20px;
  }
  #footer .footer-center .footer-left h2 img {
    width: 100%;
  }
  #footer .footer-center .footer-left .smartee-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .footer-center .footer-left .smartee-info li {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  #footer .footer-center .footer-left .smartee-info li:nth-child(3) {
    transform: translateY(0px);
  }
  #footer .footer-center .footer-left .smartee-info li::after {
    content: "";
    display: none;
  }
  #footer .footer-center .footer-left .smartee-contract {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  #footer .footer-center .footer-left .smartee-contract li {
    width: 100%;
    text-align: center;
    margin-bottom: 0.2rem;
  }
  #footer .footer-center .footer-left .smartee-contract li:nth-child(3) {
    transform: translateY(0px);
  }
  #footer .footer-center .footer-left .smartee-contract li::after {
    content: "";
    display: none;
  }
  #footer .footer-center .footer-right {
    width: 100%;
    display: flex;
  }
  #footer .footer-center .footer-right .footer-nav {
    width: 100%;
    display: none;
  }
  #footer .footer-center .footer-right .footer-copy {
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
  }
  #ham-area {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 13;
    top: 0;
    right: -100%;
    background-color: #fcfcfc;
  }
  #ham-area .hamTop a h1 img {
    width: 100%;
    padding-left: 0;
  }
  #ham-area .hamDepth1 li .hamDepth2 li a {
    font-size: 1rem;
    color: #121212;
  }
}
/*============ mpobile 320px ============*/
@media screen and (max-width: 320px) {
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu {
    display: inline-block;
    width: 100%;
    padding: 1.5rem 0.2rem;
    color: #121212;
    opacity: 0.6;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: bold;
    position: relative;
    transition: all 0.7s;
    text-align: center;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu span {
    display: block;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 5px;
    border-radius: 0.1rem;
    background-color: var(--smartee-blue);
    position: absolute;
    bottom: -7%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 0.7s;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu:hover {
    opacity: 1;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .sub-index-menu:hover::after {
    width: 100%;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .on {
    opacity: 1;
    position: relative;
    transition: all 0.7s;
  }
  #container .subMenuNav .sub-index-wrap .sub-index .on::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    border-radius: 0.1rem;
    background-color: var(--smartee-blue);
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.7s;
  }
  #header .header-wrap .logo {
    width: 150px;
    margin-left: 5%;
  }
  #header .header-wrap .logo .logo-img {
    display: inline-block;
    color: transparent;
  }
  #header .header-wrap .ham-menu {
    display: block;
    position: absolute;
    top: 32%;
    right: 10%;
    width: 5%;
  }
  #header .header-wrap .ham-menu .menu-trigger {
    width: 33px;
    height: 29px;
  }
  #header .header-wrap .ham-menu .menu-trigger span:nth-child(2) {
    top: 12px;
  }
  #container .visual-head .visual-title-wrap .title-main {
    font-size: 2.3rem;
  }
  #footer .footer-center .footer-left .smartee-contract li {
    line-height: 1rem;
  }
  #footer .footer-center .footer-right .footer-copy {
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
  }
}/*# sourceMappingURL=sub-index.css.map */